<div class="modal-header">
  <h3 class="modal-title col-md-11">{{barber.fullname}}</h3>
  <button type="button" class="btn btn-danger" ng-click="close()">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
</div>
<div class="modal-body">
  <form class="form-horizontal">

    <div class="form-group">
      <label class="col-md-2">Full Name:</label>

      <div class="col-md-10">
        <input class="form-control" type="text" placeholder="..."
               data-ng-model="barber.fullname" data-ng-required/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2">Abilities:</label>

      <div class="col-md-10">
        <ul class="nav nav-pills nav-stacked col-sm-2" ng-repeat="ability in barber.abilities">
          <li><a href="#">{{ability}}
            <button type="button" class="close"
                    ng-click="removeAbility($index)">&times;</button>
          </a></li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-lg-3">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="newAbility" placeholder="New Ability...">
            <span class="input-group-btn">
               <button class="btn btn-default" type="button" ng-click="addAbility(newAbility)">Add</button>
           </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2">Status:</label>

      <div class="col-md-2">
        <select class="form-control" ng-options="status for status in barberStatus"
                ng-model="barber.status"></select>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-success" ng-click="createBarber()">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </div>
  </form>
</div>

