<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">
        Barbers
          <span class="col-md-offset-10">
           <button type="button" class="btn btn-success" ng-click="newBarber()">
             <span class="glyphicon glyphicon-plus"></span>
           </button>
          </span>
      </h1>
      <table class="table table-hover">
        <thead>
        <th class="col-md-2">Full Name</th>
        <th class="col-md-2">Abilities</th>
        <th class="col-md-2">Status</th>
        <th></th>
        </thead>
        <tbody>
        <tr ng-repeat="barber in barbers">
          <td class="col-md-2">
            <span>{{barber.fullname}}</span>
          </td>
          <td class="col-md-2">
            <span ng-repeat="ability in barber.abilities">
              <span class="label label-default">{{ability}}</span>
            </span>
          </td>
          <td class="col-md-6">{{barber.status}}</td>
          <td class="col-md-1">
            <button type="button" class="btn btn-info" ng-click="openProfile(barber._id)">
              <span class="glyphicon glyphicon-user"></span>
            </button>
            <button type="button" class="btn btn-warning" ng-click="openWarningDelete(barber)">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
