<div class="modal-header">
  <h3 class="modal-title col-md-11">View Profile: {{barber.fullname}}</h3>
  <button type="button" class="btn btn-danger" ng-click="close()">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="form">

    <div class="form-group">
      <label class="col-md-3">Full Name:</label>

      <div class="col-md-4">
        <label data-ng-hide="editMode">{{barber.fullname}}</label>
        <input class="form-control" type="text" data-ng-show="editMode" placeholder="Enter a name"
               data-ng-model="barber.fullname" name="fullname" maxlength="16" data-ng-required="true"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3">Abilities:</label>

      <div class="col-md-9">
        <ul class="nav nav-pills nav-stacked col-sm-4" ng-repeat="ability in barber.abilities">
          <li><a href="#">{{ability}}
            <button data-ng-show="editMode" type="button" class="close"
                    ng-click="removeAbility($index)">&times;</button>
          </a></li>
        </ul>
      </div>
    </div>

    <div class="form-group" data-ng-show="editMode">
      <div class="col-md-offset-3 col-lg-4">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="newAbility" name="ability" data-ng-required="true" maxlength="6" placeholder="New Ability...">
            <span class="input-group-btn">
               <button class="btn btn-default" type="button" ng-click="addAbility(newAbility)" ng-disabled="!form.ability.$valid">Add</button>
           </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3">Status:</label>

      <div class="col-md-4">
        <label data-ng-hide="editMode">{{barber.status}}</label>
        <select class="form-control" data-ng-show="editMode" ng-options="status for status in barberStatus"
                ng-model="barber.status"></select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" data-ng-hide="editMode" class="btn btn-info" ng-click="editBarber()">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>
  <button type="button" data-ng-show="editMode" class="btn btn-success" ng-click="saveEdit()"  ng-disabled="!form.fullname.$valid">
    <span class="glyphicon glyphicon-ok"></span>
  </button>
  <button type="button" data-ng-show="editMode" class="btn btn-warning" ng-click="cancelEdit()">
    <span class="glyphicon glyphicon-share-alt"></span>
  </button>
</div>
